misc.txt
.env
/node_modules

/myenv


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

database.json 

config/
config/credentials.json